*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px dashed black; */
}

body {
    background-color: #ffffff;
    /* position: relative; */
    min-height: 100vh;
    width: 100vw;   
}

.header {
    background-color: #E8BBA8;
    width: 100vw;
    height: 164px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.logo {
    position: absolute;
    top: 48px;
    left: 48px;
}

nav {
    display: flex;
    position: absolute;
    right: 48px;
    top: 64px;
}

nav a {
    font-family: 'Roboto';
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    
    color: #461B09;

    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 40px;
}

h1 {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    width: 714px;
    height: 159px;

    margin: 108px 0 0 101px;
}

h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    width: 1105px;
    height: 139px;

    margin: 56px 0 0 104px;
}

.imagens {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 135px 0 0 0;
}

.img-1 {
    position: relative;
    width: 500px;
    height: 512px;
    left: 50px;
    top: 0px;
}

.img-2 {
    position: relative;
    width: 500px;
    height: 512px;
    top: -30px;
}


p {
    width: 1105px;
    height: 139px;

    margin: 121px 0 200px 117px ;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
}

.modal {
    background-color: rgba(0, 0, 0 , 0.6);

    position: fixed;
    z-index: 9;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    
    display: none;
    justify-content: center;
    align-items: center;
}